
JsonPatchDocumentExtensionDataAdapter/UnitTest/obj/
JsonPatchDocumentExtensionDataAdapter/UnitTest/bin/
JsonPatchDocumentExtensionDataAdapter/UnitTest/bin/

JsonPatchDocumentExtensionDataAdapter/JsonPatchDocumentExtensionDataAdapter/obj/
JsonPatchDocumentExtensionDataAdapter/JsonPatchDocumentExtensionDataAdapter/bin/

JsonPatchDocumentExtensionDataAdapter/JsonPatchDocumentExtensionDataAdapter.sln.DotSettings.user
